body {
    background: #000000 !important;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    background: #000000;
    border: 2px solid #25e42e;
    color: #25e42e;
}

.btn {
    background: #25e42e;
    border: #25e42e;
}

.btn:hover {
    background-color: #2e8b33;
}

input[type=text] {
    background: #000000;
    color: #25e42e !important;
    border: 1px solid #25e42e;
}

input[type=text]:focus {
    background: #000000;
    border: 1px solid #25e42e;
}

input[type=password] {
    background: #000000;
    color: #25e42e !important;
    border: 1px solid #25e42e;
}

input[type=password]:focus {
    background: #000000;
    border: 1px solid #25e42e;
}

.access_grant {
    display: none;
    background: #25e42e;
    color: #000000;
    width: 50%;
}

.access_deny {
    display: none;
    background: #e42525;
    color: #000000;
    width: 50%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    top: 250px;
    width: 100%;
}

#warning {
    display: none;
    color: #e42525;
}

.text-warn {
    font-size: 0.2em;
}

#unautho {
    display: none;
    background: #e42525;
    color: #000000;
    width: 70%;
}